.orders{
    background:$color1;
    padding: 20px;
    display: grid;
    grid-template-rows: 450px auto;
    @include device('medium'){
        padding:20px 10px;
        grid-template-rows: auto auto;
    }
    
}
.table{
    overflow-x: auto;
    margin:15px 0
}
table{
    width:100%
}
.orders th{
    font-size: $fontSmall;
    padding: 15px 30px;
    color: #222;
    border-bottom: solid darken($color2,30%) 1.5px;

    
}
.orders td{
    padding: 15px 60px;
    text-align: center;
    color:$color4;
    
}
