.spinner{
    height:5px;
    border: solid 1.5px $color4;
    position: relative;
    border-radius: $borderRadius;
    background: linear-gradient(90deg, $color3, $color5);
    width: 100%;
    margin: 15px 0;
}
.spinner > div:nth-child(1){
    width: 100%;
    height:100%;
    animation: loading .5s infinite linear alternate;
    transition: all linear .5s;
    border-radius: $borderRadius;
    background: linear-gradient(90deg, $color3, $color5);
    position: absolute;
    left: 0
}
.spinner > div:nth-child(2){
    width: 100%;
    height:100%;
    animation: loading .5s infinite linear alternate-reverse;
    animation-delay: .9s;
    transition: all linear .5s;
    border-radius: $borderRadius;
    background: linear-gradient(90deg, $color5, $color3);
    position: absolute;
}
@keyframes loading{
  0%{
      width: 0
  }
  100%{
      width: 100%;
  }
}