$color1: #fff;
$color2: #f2f2f2;
$color3:#2cd4d9;
$color4: #6e7076;
$color5: #5333ed;
$danger: orangered;
$success: rgba(25, 209, 25, 0.8);

$fontSmall : 1.125em;
$fontMedium : 1.5em;
$fontLarge : 1.875em;
$fontXl : 2.25em;

$borderRadius: 5px;
$borderRadius2: 10px;
 