.products{
    background: $color1;
    display: grid;
    padding: 20px;
    justify-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 450px auto;
     @include device('medium'){
        grid-template-rows: auto auto auto;
    }
          @include device('small'){
       padding:20px 10px
    };
}
table{
    margin-top:10px;
    width:100%

}
.table{
    overflow-x: auto;
    display: flex;
   

}
.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include device('medium'){
        flex-direction: column;
         align-items: flex-start;
    }
}
input{
    background: $color1;
    height: 35px;
    padding-left: 45px;
    width: 300px;
      @include device('small'){
        width: 100%
    }
}
form {
    display: flex;
    position: relative;
    align-items: center;
    height:35px;
}
.icon-search{
    position: absolute;
    height:100%;
    width:20px;
    background:$color5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    top: 0

}
.icon-search svg{
   color: $color2 !important;
   margin:0 !important
}
.products .actions a{
    background: $color5;
    display: flex;
    align-items: center;
    padding: 10px;;
          @include device('medium'){
       margin-top:15px
    };
}
.products a svg{
    color:$color1 !important;
    @include font('small');
}
table th{
    @include font('small');
    padding: 15px 10px;
    color: #222;
    border-bottom: solid 1.5px $color4 ;
    text-align: start;
}
table tr td{
    @include font('small');
    padding: 10px;
    color:$color4;
  
}
table tr td button,table tr td a{
   background-color: transparent;
   padding:0;
   width: auto;
}
table tr td button:active,table tr td a:active{
    background-color: transparent;
}
.products svg{
    margin-right: 15px;
    cursor: pointer;
}

td button:nth-child(2) svg{
    color: $danger !important
}
.products td a svg{
    color: $color4 !important
}

.confirm{
    margin-right: 10px;
    background-color: $color3;
}
.cancel{
   background-color: $danger;
}
.confirm, .cancel{
    width: 100px;
    padding: 10px;
}
p{
    margin: 20px 0
}